addict==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
antlr4-python3-runtime==4.9.3
anyio==4.11.0
asttokens==3.0.1
async-timeout==5.0.1
attrs==25.4.0
baidu-aip==4.16.13
certifi==2025.11.12
chardet==5.2.0
charset-normalizer==3.4.4
click==8.1.8
colorama==0.4.6
contourpy==1.3.0
cycler==0.12.1
datasets==4.4.1
decorator==5.2.1
dill==0.4.0
exceptiongroup==1.3.0
executing==2.2.1
filelock==3.19.1
fonttools==4.60.1
frozenlist==1.8.0
fsspec==2025.9.0
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.1.5
hydra-core==1.3.2
idna==3.11
importlib_resources==6.5.2
ipython==8.18.1
jedi==0.19.2
Jinja2==3.1.6
joblib @ file:///C:/miniconda3/conda-bld/joblib_1757926369325/work
kiwisolver==1.4.7
MarkupSafe==2.1.5
matplotlib==3.9.4
matplotlib-inline==0.2.1
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
modelscope==1.32.0
mpmath==1.3.0
multidict==6.7.0
multiprocess==0.70.18
networkx==3.2.1
numpy==2.0.2
omegaconf==2.3.0
opencv-contrib-python==4.12.0.88
packaging==25.0
pandas==2.2.2
parso==0.8.5
pickleshare==0.7.5
pillow==11.3.0
playsound==1.2.2
polars==1.35.2
polars-runtime-32==1.35.2
prompt_toolkit==3.0.52
propcache==0.4.1
psutil==7.1.3
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==21.0.0
PyAudio==0.2.14
pygame==2.6.1
Pygments==2.19.2
pyparsing==3.2.5
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
scikit-learn @ file:///C:/b/abs_aajc9f7v6r/croot/scikit-learn_1722067652693/work/dist/scikit_learn-1.5.1-cp39-cp39-win_amd64.whl#sha256=c9648dc9e29bcf3f8c05d65be46d6b9252cf25dc12f2d981fd8e8feff3f6e7cd
scipy @ file:///C:/Users/dev-admin/cr_scipy-feedstock/scipy_1733774324044/work/dist/scipy-1.13.1-cp39-cp39-win_amd64.whl#sha256=f7218697f964ae4372cdcb6f20a05db0d338ccc574c96e9dbf235ed6547dd462
seaborn==0.13.2
shellingham==1.5.4
simplegeneric==0.8.1
six==1.17.0
sniffio==1.3.1
stack-data==0.6.3
sympy==1.14.0
thop==0.1.1.post2209072238
threadpoolctl @ file:///C:/b/abs_def0dwqlft/croot/threadpoolctl_1719407816649/work
torch==2.7.1+cu118
torchaudio==2.7.1+cu118
torchvision==0.22.1+cu118
tqdm==4.67.1
traitlets==5.14.3
typer-slim==0.20.0
typing_extensions==4.15.0
tzdata==2025.2
ultralytics==8.3.229
ultralytics-thop==2.0.18
urllib3==2.5.0
wcwidth==0.2.14
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
